@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}


.btn-primary {
  @apply px-6 py-2 rounded-full font-semibold 
         bg-orange-600 text-white
         border-2 border-orange-600
         hover:bg-orange-700 hover:border-orange-700
         transition duration-300;
}


.btn-secondary {
  @apply px-6 py-2 rounded-full font-semibold
         bg-white text-orange-600
         border-2 border-orange-600
         hover:bg-orange-600 hover:text-white
         transition duration-300;
}
