@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}


.btn-primary {
  @apply px-6 py-2 rounded-full font-semibold 
         bg-orange-600 text-white
         border-2 border-orange-600
         hover:bg-orange-700 hover:border-orange-700
         transition duration-300;
}


.btn-secondary {
  @apply px-6 py-2 rounded-full font-semibold
         bg-white text-orange-600
         border-2 border-orange-600
         hover:bg-orange-600 hover:text-white
         transition duration-300;
}

  :root {
    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-base: 1rem;    /* 16px */
    --text-lg: 1.125rem;  /* 18px */
    --text-xl: 1.25rem;   /* 20px */
    --text-2xl: 1.5rem;   /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem;  /* 36px */
    --text-5xl: 3rem;     /* 48px */
    
    /* Font weights */
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
  }
